<ul>
    <li *ngFor="let item of table; index as clef">
        {{item}}
        <button (click)="removeBudget(clef)">X</button>
    </li>
</ul>
<label for="title">Date</label>
<input type="date" name="date" form="add" placeholder="date">
<label for="title">Description</label>
<input type="text" name="description" form="add" placeholder="description">
<label for="title">Montant</label>
<input type="number" name="montant" form="add" placeholder="montant">

<select name="ttescategories" form="add">
    <option value="toutescategories" class="">Toutes les catégories</option>
    <option value="Loisirs">Loisirs</option>
    <option value="Alimentation">Alimentation</option>
    <option value="Revenus">Revenus</option>
    <option value="Loyer">Loyer</option>
    <option value="Véhicule">Véhicule</option>
</select>
<input type="submit" value="Add" form="add" placeholder="">